<% if @audits_questions.present? && @audits_questions.size.positive? %>
<h2>Questions</h2>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Type</th>
      <th>Event</th>
      <th>Trail</th>
      <th>Author</th>
      <th>Created At</th>
    </tr>
  </thead>

  <tbody>
    <% @audits_questions.each do |audit| %>
      <tr>
        <td><%= audit.id %></td>
        <td><%= audit.auditable_type %></td>
        <td><%= audit.event %></td>
        <td><%= parse_audit_data(audit.trail) %></td>
        <td><%= audit.author_user_email %></td>
        <td><%= audit.created_at.strftime("%m/%d/%Y %H:%M") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
